<nav class="sticky top-0 z-10 bg-white">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 h-24">
        <!-- div aligned to the left -->
        <div class="flex-shrink-0 h-full">
            <a href="{{ path('app_home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" class="h-full"/></a>
        </div>
        
        <!-- Div aligned to the right -->
        <div class="flex items-center space-x-4 ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="relative flex items-center">
                    <!-- Display user information if user is logged in -->
                    <button id="profileDropdownButton" class="focus:outline-none">
                        <img src="{{ app.user.profilePictureUrl|default(asset('images/default-profile.png')) }}" alt="Profil" class="w-10 h-10 rounded-full">
                    </button>
                    <!-- Dropdown menu -->
                    <div id="profileDropdownMenu" class="hidden absolute top-full mt-2 w-48 bg-white rounded-lg shadow-lg z-50">
                        <a href="{{ path('app_profile') }}" class="block px-4 py-2 text-black hover:bg-gray-100">Mon Profil</a>
                        <a href="{{ path('app_profile') }}" class="block px-4 py-2 text-black hover:bg-gray-100">Paramètres</a>
                        <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-black hover:bg-gray-100">Se Déconnecter</a>
                    </div>
                </div>
                {#<span class="text-black">{{ app.user.username }}</span>#}
            {% else %}
                <!-- Display the sign in and login button if user is logged off -->
                <a href="{{ path('app_login') }}" class="text-black hover:text-blue-700 hover:underline">Se connecter</a>
                <button type="button" onclick="window.location.href='{{ path('app_register') }}'"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    S'inscrire
                </button>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    // JavaScript to toggle the dropdown menu
    document.addEventListener('DOMContentLoaded', () => {
        const dropdownButton = document.getElementById('profileDropdownButton');
        const dropdownMenu = document.getElementById('profileDropdownMenu');

        dropdownButton.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
        });

        // Close the dropdown if clicked outside
        document.addEventListener('click', (event) => {
            if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.add('hidden');
            }
        });
    });
</script>
