{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}

{{ render(controller('App\\Controller\\NavbarController::navbar')) }}

<div class="container mx-auto py-6">
    <div class="flex justify-center space-x-4 mb-6">
        <button onclick="window.location.href='{{ path('app_library') }}'" class="bg-slate-100 text-gray-700 flex-grow px-4 py-2 rounded-lg font-medium hover:bg-[#e8edf1] focus:outline-none focus:ring-2 focus:ring-gray-400 active:bg-gray-400">Auteurs</button>
        <button class="bg-blue-800 text-white flex-grow px-4 py-2 rounded-lg font-medium hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-500 active:bg-blue-900">Articles</button>
        <button onclick="window.location.href='{{ path('app_library_books') }}'" class="bg-slate-100 text-gray-700 flex-grow px-4 py-2 rounded-lg font-medium hover:bg-[#e8edf1] focus:outline-none focus:ring-2 focus:ring-gray-400 active:bg-gray-400">Livres</button>
    </div>

    <div class="bg-slate-100 flex flex-wrap p-6 rounded-lg">
        <div class="flex flex-row w-full">
            <h3 class="w-1/2">Titre</h3>
            <h3>Auteur</h3>
        </div>
        <tbody>
            {% for article in articles %}
            <a href="{{ article.link }}" target="_blank" class="bg-white flex flex-row rounded-lg w-full my-1 p-3">
                <h3 class="w-1/2">{{ article.title }}</h3>
                <p>{{ article.author }}</p>
            </a>
            {% endfor %}
        </tbody>
    </div>
</div>

{% endblock %}