{% extends 'base.html.twig' %}

{% block title %}Bibliothèque{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}

{{ render(controller('App\\Controller\\NavbarController::navbar')) }}

<div class="container mx-auto py-6">
    <div class="flex justify-center space-x-4 mb-6">
            <button onclick="window.location.href='{{ path('app_library') }}'" class="bg-slate-100 text-gray-700 flex-grow px-4 py-2 rounded-lg font-medium hover:bg-[#e8edf1] focus:outline-none focus:ring-2 focus:ring-gray-400 active:bg-gray-400">Auteurs</button>
            <button onclick="window.location.href='{{ path('app_library_articles') }}'" class="bg-slate-100 text-gray-700 flex-grow px-4 py-2 rounded-lg font-medium hover:bg-[#e8edf1] focus:outline-none focus:ring-2 focus:ring-gray-400 active:bg-gray-400">Articles</button>
            <button class="bg-blue-800 text-white flex-grow px-4 py-2 rounded-lg font-medium hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-500 active:bg-blue-900">Livres</button>
        </div>
    <div class="bg-slate-100 flex flex-wrap p-4 rounded-lg">
        {% for book in books %}
        <div class="bg-white rounded-lg overflow-hidden relative w-44 h-72 m-4 p-3">
            <a href="{{ book.link }}" target="_blank">
                <img src="{{ book.image }}" alt="{{ book.title }}" class="w-full h-40 object-cover rounded-lg">
            </a>
            <div class="p-4">
                <h3 class="text-lg font-semibold text-gray-800">{{ book.title }}</h3>
                <p class="text-sm text-gray-600">{{ book.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}