{% extends 'base.html.twig' %}

{% block title %}Modifier la publication{% endblock %}

{% block body %}
<div class="container mx-auto max-w-lg mt-10">
    <h1 class="text-2xl font-bold mb-4">Modifier la publication</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.forum) }}
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Enregistrer</button>
        <a href="{{ path('app_forums', { category: category, postId: post.id }) }}" class="ml-2 text-gray-600">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}
