<!DOCTYPE html>
<html>
<head>
    <title>Forums</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
    {{ render(controller('App\\Controller\\NavbarController::navbar')) }}
    <div class="flex flex-row justify-center my-11">
        {# Forum categories #}
        <div class="bg-[#EEF1F3] m-5 p-2 rounded-lg">
            <div class="bg-white rounded-lg p-2">
                <div class="inline-block">
                    <h2 class="text-2xl">Categories</h2>
                    <div class="bg-[#99AFDD] h-1 rounded-full my-1 w-full"></div>
                </div>
                <div class="flex flex-col">
                    <a href="General" class="p-1 w-full hover:bg-blue-100 hover:text-blue-900">Toutes categories</a>
                    {% for forum in forums %}
                        <a href="{{ forum.title }}" class="p-1 w-full hover:bg-blue-100 hover:text-blue-900"><h3>{{ forum.title }}</h3></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# Forum list #}
        <ul class="bg-[#EEF1F3] m-5 p-5 rounded-lg w-full max-w-5xl">
            <h1 class="text-2xl">Forums</h1>
            {% for post in posts %}
                <li>
                    <a><h3>{{ post.name }}</h3></a>
                    <p>{{ post.forum.title }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>